<!DOCTYPE html>
<!-- file: views/professor/create.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
</head>
<div class="container">
   <ul class="navbar-list">
     <li class="navbar-item">
       <a class="navbar-link" href="/">Home</a>
       <a class="navbar-link" href="/book">Books</a>
       <a class="navbar-link" href="/author">Authors</a>
       <a class="navbar-link" href="/publisher">Publisher</a>
   </li>

   </ul>
</div>
<body>
 <div class="container">
  <div class="row">
   <div class="eleven column" style="margin-top: 10%">
    <h2>{{title}}</h2>
    <form action="/book" method="post">
     <div class="row">
      <div class="six columns">
       <label for="nameInput">Title</label>
       <input class="u-full-width" type="text" 
          name="title">
      </div>
      <div class="three columns">
       <label for="degreeInput">Edition</label>
       <input class="u-full-width" type="text" 
          name="edition">
      </div>
      <div class="three columns">
         <label for="degreeInput">id</label>
         <input class="u-full-width" type="text" 
            name="id">
        </div>
     </div>
     <div class="row">
      <div class="four columns">
       <label for="emailInput">copyright</label>
       <input class="u-full-width" type="text" 
          name="copyright">
      </div>
      <div class="four columns">
       <label for="phoneInput">Languaje</label>
       <input class="u-full-width" type="text"
         name="languaje">
      </div>
      <div class="four columns">
         <label for="emailInput">pages</label>
         <input class="u-full-width" type="text" 
            name="pages">
        </div>
     </div>
     <div class="row">
      <div class="six columns">
         <label for="emailInput">Author</label>
         <input class="u-full-width" type="text" 
            name="author">
        </div>
      <div class="six columns">
       <label for="phoneInput">Publisher</label>
       <input class="u-full-width" type="text"
         name="author">
      </div>
     </div>
     <div class="row">
      <div class="six columns">
         <label for="emailInput">Author ID</label>
         <input class="u-full-width" type="text" 
            name="author_id">
        </div>
      <div class="six columns">
       <label for="phoneInput">Publisher ID</label>
       <input class="u-full-width" type="text"
         name="publisher_id">
      </div>
     </div>
     <input class="button-primary" type="submit" value="Create">
    </form>
   </div>
  </div>
 </div>
</body>