<!DOCTYPE html>
<!-- file: views/professor/show.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
 <!--Import Google Icon Font-->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--Let browser know website is optimized for mobile-->
<link rel="stylesheet" href="../css/style.css">
</head>
{{> navbar}}

<body>
   <div class="container">
    <div class="row">
     <div class="eleven column" style="margin-top: 10%">
      <h2>{{title}}</h2>
      <form>
       {{#book}}
       <div class="row">
        <div class="six columns">
         <label for="nameInput">Title</label>
         <input class="u-full-width" type="text" readonly
            id="title" value="{{title}}">
        </div>
        <div class="six columns">
         <label for="degreeInput">Edition</label>
         <input class="u-full-width" type="text" readonly
            id="edition" value="{{edition}}">
        </div>
       </div>
  
        <div class="row">
           <div class="four columns">
            <label for="nameInput">Copyright</label>
            <input class="u-full-width" type="text" readonly
               id="copyright" value="{{copyright}}">
           </div>
  
           <div class="four columns">
              <label for="nameInput">Language</label>
              <input class="u-full-width" type="text" readonly
                 id="language" value="{{language}}">
             </div>
  
           <div class="four columns">
            <label for="degreeInput">Pages</label>
            <input class="u-full-width" type="text" readonly
               id="pages" value="{{pages}}">
           </div>
          </div>
        
       <div class="row">
        <div class="six columns">
         <label for="emailInput">Author</label>
         <a type="text" id="author" href='/author/{{author_id}}'>{{author}}<br></a>
        </div>
        
        <div class="six columns">
         <label for="phoneInput">Publisher</label>
         <a class="u-full-width" type="text" id="publisher" href='/publisher/{{publisher_id}}'>{{publisher}}<br></a>
        </div>
        <br>
        </div>
  
        <br>
       <a class="button button-primary" href="/book">Back</a>
  
       
       {{/book}}
      </form>
     </div>
    </div>
   </div>
  </body>
{{> footer}}