<!DOCTYPE html>
<!-- file: views/professor/create.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
</head>
<div class="container">
   <ul class="navbar-list">
     <li class="navbar-item">
       <a class="navbar-link" href="/">Home</a>
       <a class="navbar-link" href="/book">Books</a>
       <a class="navbar-link" href="/author">Authors</a>
       <a class="navbar-link" href="/publisher">Publisher</a>
   </li>

   </ul>
</div>
<body>
 <div class="container">
  <div class="row">
   <div class="eleven column" style="margin-top: 10%">
    <h2>{{title}}</h2>
    <form action="/publisher" method="post">
     <div class="row">
      <div class="six columns">
       <label for="nameInput">id</label>
       <input class="u-full-width" type="text" 
          name="id">
      </div>
      <div class="three columns">
       <label for="degreeInput">Publisher</label>
       <input class="u-full-width" type="text" 
          name="publisher">
      </div>
      <div class="three columns">
         <label for="degreeInput">Country</label>
         <input class="u-full-width" type="text" 
            name="country">
        </div>
     </div>
     <div class="row">
      <div class="six columns">
       <label for="emailInput">Founded</label>
       <input class="u-full-width" type="text" 
          name="founded">
      </div>
      <div class="six columns">
       <label for="phoneInput">Genere</label>
       <input class="u-full-width" type="text"
         name="genere">
      </div>
     </div>
     <div class="row">
      <div class="six columns">
       <label for="emailInput">Books ID</label>
       <input class="u-full-width" type="text" 
          name="books_book_id">
      </div>
      <div class="six columns">
       <label for="phoneInput">book's name</label>
       <input class="u-full-width" type="text"
         name="books_title">
      </div>
     </div>
     <input class="button-primary" type="submit" value="Create">
    </form>
   </div>
  </div>
 </div>
</body>