<!DOCTYPE html>
<!-- file: views/professor/show.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
 <!--Import Google Icon Font-->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--Let browser know website is optimized for mobile-->
<link rel="stylesheet" href="../css/style.css">
</head>
{{> navbar}}
<body>
 <div class="container">
  <div class="row">
   <div class="eleven column" style="margin-top: 10%">
    <h2>{{title}}</h2>
    <form>
     {{#publisher}}
     <div class="row">
      <div class="six columns">
       <label for="nameInput">Publisher</label>
       <input class="u-full-width" type="text" readonly
          id="publisher" value="{{publisher}}">
      </div>
      <div class="six columns">
       <label for="degreeInput">Country</label>
       <input class="u-full-width" type="text" readonly
          id="country" value="{{country}}">
      </div>
     </div>
     <div class="row">
      <div class="six columns">
       <label for="emailInput">Founded</label>
       <input class="u-full-width" type="text" readonly
          id="founded" value="{{founded}}">
      </div>
      <div class="six columns">
       <label for="phoneInput">Genere</label>
       <input class="u-full-width" type="text" readonly
         id="genere" value="{{genere}}">
      </div>

     </div>
    
     {{/publisher}}
    <!--  <div>
      <h3>Books</h3>

      <a href="/book/{{books_book_id}}">{{title}}</a><br>
    
      </div> -->
      <br>
      <a class="button button-primary" href="/author">Back</a>
    </form>

   </div>
  </div>
 </div>
</body>
{{> footer}}